@model IEnumerable<Ecommerce.Areas.admin.Models.Order.FullOrderDetails>

@{
    ViewBag.Title = "Index";

}
<h2>Order List</h2>
<br />
<br />

      @{int i = 1;}
    <table class="sexy-table">
        <thead>
            <tr>
                  <th>No.</th>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalQty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.datetime)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i
                        @{i++;}</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datetime)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

