@model Ecommerce.Models.Bean.contactus.ContactusBean

@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div id="content">
    <div class="products-holder">
        <div class="top">
        </div>
        <div class="middle">
            <div class="label">
                <h3>Map</h3>
            </div>
            <br>
            <div class="cl">
            </div>
            <div class="main">

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>
            <div class="cl">
            </div>
        </div>
        <div class="bottom">
        </div>
        <br />
        </div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Contact Us</legend>
                <center>

            <table style="width:600px">
                <tr>
                    <td style="width:20%">
                          @Html.LabelFor(model => model.name)
                    </td>
                    <td style="width:50%">
                         @Html.EditorFor(model => model.name)
                    </td>
                    <td style="width:30%">
                             @Html.ValidationMessageFor(model => model.name)
                    </td>
                </tr>

                  <tr>
                    <td>
                            @Html.LabelFor(model => model.subject)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.subject)
                    </td>
                    <td>
                       @Html.ValidationMessageFor(model => model.subject)
                    </td>
                </tr>
                 <tr>
                    <td>
                            @Html.LabelFor(model => model.email)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.email)
                    </td>
                    <td>
                       @Html.ValidationMessageFor(model => model.email)
                    </td>
                </tr>
                <tr>
                    <td>
                            @Html.LabelFor(model => model.commnet)
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.commnet, 5, 40, new { style = "width:100%" })
                    </td>
                    <td>
                       @Html.ValidationMessageFor(model => model.commnet)
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td colspan="2">
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
 </center>
            </fieldset>
        }

    </div>

    <br />
    <br />
    <br />
