@model Ecommerce.Models.Register.RegisterPro

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#StateID").prop("disabled", true);
        $("#CountryId").change(function () {
            if ($("#CountryId").val() != "Please Select") {
                var options = {};
                options.url = "/SignUp/getstate";
                options.type = "POST";
                options.data = JSON.stringify({ country: $("#CountryId").val() });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function (states) {
                    $("#Row-State").show();
                    $("#statesId").empty();
                    for (var i = 0; i < states.length; i++) {
                        $("#statesId").append("<option value=" + states[i]["Id"] + ">" + states[i]["StateName"] + "</option>");
                    }
                    $("#statesId").prop("disabled", false);
                }

                options.error = function () { alert("Error retrieving sttes!"); };
                $.ajax(options);
            }
            $("#statesId").empty();
            $("#statesId").prop("disabled", true);
        })
    });
</script>




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>View & Edit Profile</legend>
        
        <center>
        <table style="width:600px;">
                <tr>
                    <td colspan="3">
                    </td>
                  
                        <td>
                            &nbsp;
                        </td>
                    <td></td>
                </tr>
            <tr>
                <td style="width:15%">
                    @Html.HiddenFor(model => model.Id)
                    @Html.LabelFor(model => model.fullname)
                </td>
                <td>
                    @Html.EditorFor(model => model.fullname)
                </td>
                <td style="width:30%">
                    @Html.ValidationMessageFor(model => model.fullname)
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(model => model.address)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.address)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.address)

                </td>
            </tr>
             <tr>
                <td>
                    @Html.LabelFor(model => model.phoneno)
                </td>
                <td>
                    @Html.EditorFor(model => model.phoneno)
                   
                </td>
                <td> @Html.ValidationMessageFor(model => model.phoneno)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.countryId)
                </td>
                <td>
                    @Html.DropDownList("CountryId", (SelectList)ViewBag.CountryList)
                </td>
<td>
                    @Html.ValidationMessageFor(model => model.countryId)

</td>
            </tr>
            <tr id="Row-State" >
                <td>
                    @Html.LabelFor(model => model.statesId)
                </td>
                <td>
                    @*@Html.DropDownList("StateList")*@

                     @Html.DropDownList("statesId", (SelectList)ViewBag.States)
                    @Html.ValidationMessageFor(model => model.statesId)
                </td>
                <td>

                </td>

            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.pincode)
                </td>
                <td>
                   @* @Html.DropDownList("CityList")*@
                    @Html.EditorFor(model => model.pincode)
                  
                </td>
                <td>
                      @Html.ValidationMessageFor(model => model.pincode)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.email)
                </td>
                <td>
                    @Html.EditorFor(model => model.email)
                   
                </td>
                <td> @Html.ValidationMessageFor(model => model.email)</td>
            </tr>
           
            <tr>
                <td>
                  Change Password
                </td>
                <td>
                    @Html.PasswordFor(model => model.password)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.password)

                </td>
            </tr>
            
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save" />
                </td>

            </tr>
        </table>
     </center>
    </fieldset>
}

<br />
<br />
<br />